$container-width: 100%;

$brand-font: 'Sevillana', cursive;
$text-font: 'Playfair Display', serif;
$text-color: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

$bg-color-1: rgba(60, 0, 139, 0.4);
$bg-color-2: rgba(139, 0, 116, 0.4);
$bg-color-3: rgba(24, 23, 23, 0.575);

$brand-color: rgb(131, 36, 115);
$nav-btns-color: rgb(28, 101, 160);
$nav-btns-color-hover: rgb(202, 27, 173);


$text-title-color: rgb(24, 124, 206);
$text-color: rgb(87, 155, 211);